<!doctype html>
<html>
<head>
    <title>Idea Bank</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <!-- show any messages that come back with authentication -->

        <!-- LOGIN FORM -->

        <hr>

        <form action="/confirm" method="post">
            <p>Thank you for your patience!</p>
            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>


    </div>

</div>
</body>
</html>
