
<!DOCTYPE html>
<html lang="en">
<head>

	<%= include header.ejs%>
	<script src="frameworks/JQuery/JQuery.rating.js"></script>
	<link rel="stylesheet" href="frameworks/JQuery/JQuery.rating.css">





</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-inverse navbar-static-top container-fluid" role="navigation">
	<div class="navbar-header">

		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
		</button> <a class="navbar-brand" href="#">Idea Bank</a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="/signup">Signup</a>
			</li>

			<li>
				<a href="/login">Log In</a>
			</li>
		</ul>
	</div>

</nav>



<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
	<img src="images/logo.png" alt="logo" >

	<h3><em>Grow your ideas into a viable business</em></h3>
	<p>Collaborate,Crowdfund and Bid</p>
	<br>
	<div class="row">
		<h2> Our Project Picks </h2>
		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="images/p4.png" class="">
				<div class="caption">
					<h4 class="">Idea Bank</h4>

					<p class="">IdeaBank provide a virtual enterpreunalship workspace for different projects</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="70"
							 aria-valuemin="0" aria-valuemax="100" style="width:70%">
							<span class="sr-only">70% Complete</span>
						</div>
					</div> Pledged: 20,000Rs <hr> Completed: 70% <br> <br> <a href="#" class="btn btn-default btn-xs" role="button">Fund</a><a href="#" class="btn btn-default btn-xs" role="button">Bid</a><a href="#" class="btn btn-default btn-xs" role="button">Collaborate</a></div>

			</div>
		</div>

		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="images/p3.jpg" class="">
				<div class="caption">
					<h4 class="">Project 3</h4>

					<p class="">Description</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="70"
							 aria-valuemin="0" aria-valuemax="100" style="width:70%">
							<span class="sr-only">70% Complete</span>
						</div>
					</div> Pledged: 40,000Rs <hr> Completed: 50% <br> <br> <a href="#" class="btn btn-default btn-xs" role="button">Fund</a> <a href="#" class="btn btn-default btn-xs" role="button">Bid</a> <a href="#" class="btn btn-default btn-xs" role="button">Collaborate</a></div>

			</div>
		</div>

		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="images/p2.jpg" class="">
				<div class="caption">
					<h4 class="">Project 2</h4>

					<p class="">Description</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>  <div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="70"
							 aria-valuemin="0" aria-valuemax="100" style="width:70%">
							<span class="sr-only">70% Complete</span>
						</div>
					</div>Pledged: 20,500Rs <hr> Completed: 70% <br> <br> <a href="#" class="btn btn-default btn-xs" role="button">Fund</a> <a href="#" class="btn btn-default btn-xs" role="button">Bid</a> <a href="#" class="btn btn-default btn-xs" role="button">Collaborate</a></div>

			</div>
		</div>
	</div>

	<div class="row">
		<h2> Top Professionals/Teams </h2>
		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="images/p4.png" class="">
				<div class="caption">
					<h4 class="">Team Idea Bank</h4>

					<p class="">IdeaBank provide a virtual enterpreunalship workspace for different projects</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="70"
							 aria-valuemin="0" aria-valuemax="100" style="width:70%">
							<span class="sr-only">70% Complete</span>
						</div>
					</div> <a href="#" class="btn btn-default btn-xs" role="button">Collaborate</a></div>

			</div>
		</div>

		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="images/p3.jpg" class="">
				<div class="caption">
					<h4 class="">Team Street Orchestra</h4>

					<p class="">Description</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="70"
							 aria-valuemin="0" aria-valuemax="100" style="width:70%">
							<span class="sr-only">70% Complete</span>
						</div>
					</div>  <a href="#" class="btn btn-default btn-xs" role="button">Collaborate</a></div>

			</div>
		</div>

		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="images/p2.jpg" class="">
				<div class="caption">
					<h4 class="">Team Creaive Troubleshoot Systems</h4>

					<p class="">Description</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>  <div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="70"
							 aria-valuemin="0" aria-valuemax="100" style="width:70%">
							<span class="sr-only">70% Complete</span>
						</div>
					</div> <a href="#" class="btn btn-default btn-xs" role="button">Collaborate</a></div>

			</div>
		</div>
	</div>

</div>


<!-- Container (TOUR Section) -->
<div id="tour" class="bg-1">
	<div class="container">

		<br>

		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span class="glyphicon glyphicon-lock"></span> Tickets</h4>
					</div>
					<div class="modal-body">
						<form role="form">
							<div class="form-group">
								<label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets, $23 per person</label>
								<input type="number" class="form-control" id="psw" placeholder="How many?">
							</div>
							<div class="form-group">
								<label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
								<input type="text" class="form-control" id="usrname" placeholder="Enter email">
							</div>
							<button type="submit" class="btn btn-block">Pay
								<span class="glyphicon glyphicon-ok"></span>
							</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
							<span class="glyphicon glyphicon-remove"></span> Cancel
						</button>
						<p>Need <a href="#">help?</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Container (Contact Section) -->
	<div id="contact" class="container">
		<h3 class="text-center">Contact</h3>
		<p class="text-center"><em>For any queries</em></p>

		<div class="row">
			<div class="col-md-4">
				<p>Drop a note.</p>
				<p><span class="glyphicon glyphicon-map-marker"></span>Karachi, PK</p>
				<p><span class="glyphicon glyphicon-envelope"></span>Email: idea.bank.fast1@gmail.com</p>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-sm-6 form-group">
						<input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
					</div>
					<div class="col-sm-6 form-group">
						<input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
					</div>
				</div>
				<textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
				<br>
				<div class="row">
					<div class="col-md-12 form-group">
						<button class="btn pull-right" type="submit">Send</button>
					</div>
				</div>
			</div>
		</div>
		<br>


		<div id="googleMap"></div>

		<!-- Add Google Maps -->
		<script src="http://maps.googleapis.com/maps/api/js"></script>
		<script>
			var myCenter = new google.maps.LatLng(41.878114, -87.629798);

			function initialize() {
				var mapProp = {
					center:myCenter,
					zoom:12,
					scrollwheel:false,
					draggable:false,
					mapTypeId:google.maps.MapTypeId.ROADMAP
				};

				var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

				var marker = new google.maps.Marker({
					position:myCenter,
				});

				marker.setMap(map);
			}

			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
	</div>
	</div>
		<!-- Footer -->
		<footer class="container-fluid text-center footer-inverse">
			<p>Idea Bank 2015</p>
		</footer>

</body>
</html>
