<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<%= include header.ejs%>

    <script type="text/javascript">
        function ShowLoading() {
            var div = document.createElement('div');
            var img = document.createElement('img');
            img.src = '/images/Preloader_8.gif';
            img.id = "imgg";
            img.style.position = "fixed";
            img.style.width = "128px";
            img.style.height = "128px";
            img.style.left = "50%";
            img.style.top = "35%";
          //  img.style.marginLeft = "-(128/2)px";
           // img.style.marginTop  = "-(128/2)px";
            div.appendChild(img);
            document.body.appendChild(div);
            return true;
            // These 2 lines cancel form submission, so only use if needed.
            //window.event.cancelBubble = true;
            //e.stopPropagation();
        }
    </script>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse navbar-static-top container-fluid" role="navigation">
	<div class="navbar-header">

		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
		</button> <a class="navbar-brand" href="#">Idea Bank</a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">



	</div>

</nav>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post" onsubmit="ShowLoading()">
		<div class="form-group">
			<label>First Name</label>
			<input type="text" class="form-control" name="firstName" required="required">
		</div>
		<div class="form-group">
			<label>Last Name</label>
			<input type="text" class="form-control" name="lastName" required="required">
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email" required="required">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password" required="required">
		</div>
		<button type="submit" class="btn btn-warning btn-lg">Signup</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
<br/>
<br/>
<footer class="container-fluid text-center footer-inverse">
	<p>Idea Bank 2015</p>
</footer>

</body>
</html>
